In [22]:

'''
파이썬은 literal data를 먼저
memory에 올리고 나서
변수를 연결시킴

자바처럼
int number; ->변수를 먼저 메모리에 올리고
number = 100이 불가능

int
float
bool
str 
complex
타입이 있음
'''
num = 3+1j
print(type(num))

'''
python에서는 모든 변수들이 reference type임
    ㄴ 모두 주소를 저장하고 이승ㅁ
    ㄴ 모든 data들은 전부 객체로 메모리에 올라감
변수 - data와 연결된 이름표(reference type)
        ㄴ data가 memory상에서 어느 위치에 있는
            computer한테 알려주는 이름표
'''

name= '글로벌'
age = 23
print('이름은',name,'이고 나이는',age,'입니다') # , 연결은 디폴트로 sep=' '이 되어있어 한칸 띄어지게됨
print('이름은',name,'이고 나이는',age,'입니다' ,sep='')
print('이름은'+name+'이고 나이는'+str(age)+'입니다')

'''
str() 문자형으로 변환 ->정수 모양 문자열 int,float둘다 사용가능 실수모양 float만 가능
int() 정수형으로 변환
float() 실수형으로 변환 
type() 자료형을 알려주는 함수
bool() 논리형으로 변환 -> 0, 0.0 false 그외 true
'''

'''
python에서는 ++num
같은 증가 감소 연산자가 없음
'''

#서로 값 바꾸기
num1=10
num2 = 20

cup = num1
num1 = num2
num2 = cup
print(num1,num2)

cup1=10
cup2 = 20
cup3 = 30
cup1,cup2 = cup2,cup1
print(cup1,cup2)

'''
보이는 것처럼 동시에 할당연산을 한것이 아니라
오른쪽 (cup2,cup1) 에서 ()가 생략된 형태임
            ㄴ tuple이라고 함
즉 오른쪽에 있는 건 type이 튜플 변수 한개임
tuple unpacking을 통해 각각 할당한 것
*** 모든 언어는 할당연산자 오른쪽에는 값이 여러개가 한 번에 올 수 없음

'''
cup1=10

<class 'complex'>
이름은 글로벌 이고 나이는 23 입니다
이름은글로벌이고 나이는23입니다
이름은글로벌이고 나이는23입니다
20 10
20 10

'\n보이는 것처럼 동시에 할당연산을 한것이 아니라\n오른쪽 (cup2,cup1) 에서 ()가 생략된 형태임\n            ㄴ tuple이라고 함\n즉 오른쪽에 있는 건 type이 튜플이 변수 한개임\n\n'