In [37]:
'''
문장수 단어수 출력
'''
str1= '''나는 더조은 입니다
주소는 마포구 입니다
나이는 30세 입니다'''

# str1_sentence = str1.split('\n')
# str1_word=[]
# idx = 0
# for i in str1_sentence:
#     for j in i.split(' '):
#         str1_word.append(j)
# print(str1_sentence)
# print(str1_word)     
# print(len(str1_sentence))
# print(len(str1_word))

'''
할당하면 그 저 list사라짐 list 추가 메소드 append 활용
\n과 ' '를 구별해야하는데 '\n'으로 나누고
나눈 문장으로 split시 리스트로 나와 이중 for문을 통해 data하나씩 append해야함
'''

word =[]
str1_sentence=str1.split(' ')
for i in str1_sentence:
    if '\n' in i:
        word += i.split('\n')
    else:
        word += i.split('d')

    print(word)

print(word)

word=[]
str1_word = str1.split('\n')
for i in str1_word:
        word += i.split(' ') # for문 의 index는 i가 된다
print(word)

['나는']
['나는', '더조은']
['나는', '더조은', '입니다', '주소는']
['나는', '더조은', '입니다', '주소는', '마포구']
['나는', '더조은', '입니다', '주소는', '마포구', '입니다', '나이는']
['나는', '더조은', '입니다', '주소는', '마포구', '입니다', '나이는', '30세']
['나는', '더조은', '입니다', '주소는', '마포구', '입니다', '나이는', '30세', '입니다']
['나는', '더조은', '입니다', '주소는', '마포구', '입니다', '나이는', '30세', '입니다']
['나는', '더조은', '입니다', '주소는', '마포구', '입니다', '나이는', '30세', '입니다']

In [49]:
names = ['tom', 'cruise', 'paul', 'jennifer', None, 'rara', None, 'kim']
list1 = []
print([i.upper() if i is not None else '' for i in names ])

['TOM', 'CRUISE', 'PAUL', 'JENNIFER', '', 'RARA', '', 'KIM']

In [52]:
list1 = []
for i in range(1,20):
    if i%3:
        if i%2==0:
            list1.append(-i)
        else:
            list1.append(i)
print(list1)

print([ -i if i%2==0 else i for i in range(1,20) if i%3])

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]
[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [58]:
result = []
sum = 0
idx =1
while(idx<=100):
    if  not idx%3:
        result.append(idx)
        sum+=idx;
    idx+=1
print(result)
print(sum)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
1683

In [79]:
dataset = [3,5,1,2,4]
i = 0
j =4

while(i < len(dataset)-1):
    while(j >0 ):
        if(dataset[i]>dataset[j]):
            cup = dataset[i]
            dataset[i] =dataset[j]
            dataset[j] = cup
            print(dataset)
        j-=1
    j=4
    i+=1
    
print(dataset)

[2, 5, 1, 3, 4]
[1, 5, 2, 3, 4]
[1, 4, 2, 3, 5]
[1, 3, 2, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 2, 4, 5]
[1, 3, 4, 2, 5]
[1, 3, 4, 2, 5]

In [90]:
list_bloods = ['A','A','A','O','O','O','B','O','AB','B','AB','A']
dict_bloods = {}
idx =0
while(idx<len(list_bloods)):
    dict_bloods[list_bloods[idx]]= dict_bloods.get(list_bloods[idx],0)+1
    idx+=1
idx =0
print(dict_bloods)

{'A': 4, 'O': 4, 'B': 2, 'AB': 2}

In [95]:
position = ['과장','부장','대리','사장','대리','과장']
dict_posi = {}
#중복 제거 - > 집합타입으로
non_duple = set(position)
non_duple_pos = list(non_duple)
print(non_duple_pos)

#빈도수 출력
idx = 0
while(idx<len(position)):
    dict_posi[position[idx]] = dict_posi.get(position[idx], 0) +1
    idx+=1
print(dict_posi)

['대리', '과장', '사장', '부장']
{'과장': 2, '부장': 1, '대리': 2, '사장': 1}

In [99]:
list1 = [1,2,3,4,5]
# (lambda 매개변수 : 반환값, iterable)
print(list(map(lambda i :  i**2, list1)))

[1, 4, 9, 16, 25]

In [104]:
#map(변환함수,iterable) : 여러개의 데이터를 한번에 다른 형태로 바꾸기 위해 사용
                     # list나 tuple로 묶어줘야함
list1 = [1,2,3,4,5]
def get_pow(i):
    return i**2
print(tuple(map(get_pow,list1)))
print(list(map(get_pow,list1)))

(1, 4, 9, 16, 25)
[1, 4, 9, 16, 25]

In [105]:
list1 = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
'''
filter( 변환함수, iterable) : 변환함수의 리턴값이 boolean이면
                            해당 index 의 iterable을 반환한
'''

print(list(filter(lambda i : i<0,list1)))

[-5, -4, -3, -2, -1]

In [114]:
'''
reduce() 함수( 집계함수, iterable) : 누적집계를 위해사용 
                        집계함수의 인자는 2개 여야함
                        이후 첫번째 인자는 누적값을 저장하고
                        2번째 인자는 iterable에 따라 값이 바뀜
'''
from functools import reduce
list1 = [1, 2, 3, 4, 5, 6]
print(reduce(lambda num1, num2 : num1+num2,list1))

21

In [123]:
'''
가변 parameter - 파라미터 앞에 * 붙여주면 여러개 받음
dictionary 형 가변 parameter 파라미터 앞에 **붙여주면 여러개 받음
'''

def add(*num1):
    sum =0
    for i in num1:
        sum+=i
    return sum

print(add(1,2,3,4,5))

dict_ = {}

def test(name,age,**others):
    dict_ = {}
    dict_[name]=age
    dict_ = {others}
    return dict_

dict_ = test('이순신','26',addrr='서울시', height=192, weight=81)
print(dict_)

lsit

15

TypeError: unhashable type: 'dict'

In [149]:
list1 = [4,False,2,1]

print(sorted(list1))
list1= ['d','b','c','d']
print(sorted(list1))

# print(list1)
list1.sort()
a = int(True)
print(a)
print(int(False))

print(bool(0.1))
# if i%2:
    
    
    
# print(list1)

[False, 1, 2, 4]
['b', 'c', 'd', 'd']
1
0
True

In [140]:
def add(n1,n2):
    return n1+n2

print(add(1,2))
print(add('1','2'))
print(add(True,False))
print(int(True))
print(int(False))
str1 = 'dafsfds'
boo = True
print(str1.upper())

SyntaxError: invalid syntax (2487495305.py, line 12)