In [ ]:
name = '글로벌'
age  = 23
print('이름은 글로벌 이고, 나이는 23 세입니다')
print('이름은',name,'이고, 나이는',age,'세입니다')
# TypeError: can only concatenate str (not "int") to str
# print('이름은' + name + '이고, 나이는' + strage + '세입니다')
print('이름은' + name + '이고, 나이는' + str(age) + '세입니다')
print('이름은 ' + name + '이고, 나이는 ' + str(age) + '세입니다')
print('이름은',name,'이고, 나이는',age,'세입니다',sep=' ')
print('이름은',name,'이고, 나이는',age,'세입니다',sep='')
print('이름은 ',name,' 이고, 나이는 ',age,'세입니다',sep='')

In [ ]:
'''
이름은 유관순이고 키는 162.32cm입니다
'''
name = '유관순'
height = 162.32
# TypeError: can only concatenate str (not "int") to str
print('이름은 ' + name + '이고, 키는 ' + str(height) + 'cm입니다')
print('이름은',name,'이고, 키는',height,'cm입니다')

In [ ]:
'''
str()  -  문자열 type 으로 변환해 주는 함수
int()  -  숫자(정수)type 으로 변환해 주는 함수
          숫자(정수) 모양의 문자열만 숫자(정수)로 변환할 수 있음
'''
number1 = '10'
number2 = 20
result = number1 + str(number2)
# 아래의 결과가 result : 1020 이 되도록
# code 를 수정하세요
print('result : ' + result)

result = int(number1) + number2
print('result :',result)

In [ ]:
'''
float() - 숫자(실수) 로 형변환해 주는 함수
'''
number3 = '12.34'
number4 = 56.78
result = float(number3) + number4
# 아래의 결과가 result : 69.12 가 나오도록
# code 를 수정하세요
print('result :',result)

In [ ]:
# 아래의 결과가 result : 12.3456.78 이 나오도록
# code 를 수정하세요 : java 에서 처럼 문자열을 + 연산하면 연결연산자가 됨
result = number3 + str(number4)
print('result :',result)

In [ ]:
number5 = '1234'
number6 = '56.78'
print('정수 :',int(number5))
print('실수 :',float(number5))
print('실수 :',float(number6))

# ValueError: invalid literal for int() with base 10: '56.78'
'''
 정수 모양의 문자열은 int(), float() 모두 다 변환할 수 있으나
 실수 모양의 문자열은 int() 로 변화하면 오류가 발생함
 실수 모양의 문자열은 float()  로만 변환할 수 있음
'''
# print('정수 :',int(number6))
1

In [ ]:
'''
str() 함수는 int type  이나 float type 모두를 문자열로 변환할 수 있음
'''

'''
실수  ->  정수 : int()
반올림이 되지 않고 정수부분만 남음   
'''
num1 = 3.74
print('num1 :',num1)

'''
type()  :  자료형을 알려주는 함수
'''
# num1 : <class 'float'>  <-- float type 이라는 의미
print('num1 :',type(num1))

# int() 로 형변환하기
num1 = int(num1)
# float 를 int 로 형변환하면 
# 정수부분만 남고 반올림은 적용 안 됨
print('num1 :',num1)
print('num1 :',type(num1))

In [ ]:
'''
정수  ->  실수 : float()
소숫점 이하 부분이 살아나나
기본값인 0 으로 됨
'''
num2 = 330
print('num2 :',num2)
# num2 : <class 'int'>  <-- int type 이라는 의미
print('num2 :',type(num2))

num2 = float(num2)
print('num2 :',num2)
# num2 : <class 'float'>  <-- int float 이라는 의미
print('num2 :',type(num2))

In [ ]:
'''
논리형  ->  정수형 :  int()
'''
b1 = True
print('b1 :',b1)
print('b1 :',type(b1))
b2 = False
print('b2 :',b2)
print('b2 :',type(b2))
b1 = int(b1)
# b1 : 1 - True 를 bool type 으로 변환하면 1 이 됨
print('b1 :',b1)
print('b1 :',type(b1))
b2 = int(b2)
# b2 : 0 - False 를 bool type 으로 변환하면 0 이 됨
print('b2 :',b2)
print('b2 :',type(b2))

In [42]:
'''
정수형(int) --> 논리형(bool)
  0 은 False 가 되고, 0 이외의 모든 숫자들은 True  가 됨
'''
num3 = 1
num4 = 321
num5 = -65
num6 = 0
print('1 :',bool(num3))
print('321 :',bool(num4))
print('-65 :',bool(num5))
print('0 :',bool(num6))

1 : True
321 : True
-65 : True
0 : False

In [44]:
'''
실수형(float) --> 논리형(bool)
  0.0 은 False 가 되고, 0.0 이외의 모든 숫자들은 True  가 됨
'''
num7 = 1.23
num8 = 321.32
num9 = -98.65
num10 = 0.0
print('1.23 :',bool(num7))
print('321.32 :',bool(num8))
print('-98.65 :',bool(num9))
print('0.0 :',bool(num10))

1.23 : True
321.32 : True
-98.65 : True
0.0 : False