In [ ]:
'''
우리 학원은 글로벌 IT 인재개발원입니다
'''
print('우리 학원은 글로벌 IT 인재개발원입니다')

In [ ]:
'''
우리 학원은 '글로벌 IT 인재개발원'입니다
\ : 따옴표의 본래 기능인 문자열을 표시하는 기능을 제거함
'''
print('우리 학원은 \'글로벌 IT 인재개발원\'입니다')
print("우리 학원은 '글로벌 IT 인재개발원'입니다")

In [ ]:
'''
우리 학원은 "글로벌 IT 인재개발원"입니다
'''
print('우리 학원은 "글로벌 IT 인재개발원"입니다')
print("우리 학원은 \"글로벌 IT 인재개발원\"입니다")

In [ ]:
'''
우리 학원은 
글로벌 IT 인재개발원
입니다
  ㄴ 1) 줄바꿈 문자 사용하기 (\n)
     2) 세 개짜리 따옴표 사용하기
'''
print('우리 학원은 \n글로벌 IT 인재개발원\n입니다')
print('''우리 학원은 
글로벌 IT 인재개발원
입니다''')
print("""우리 학원은 
글로벌 IT 인재개발원
입니다""")

In [ ]:
'''
python 의 문자열 출력방법들
+ 연산자 : 연결연산자
, : 반점

1) %-formatting (print formatting)
   ㄴ format specifier (서식문자,양식문자,변환문자)
      형식   지정자  <-- 출력하는 형식을 지정함
2) str.format()  메소드
3) f-string
'''
'''
format specifier
%s  문자열
%d  정수
%f  실수
%o  8진수
%x  16진수
%%  Literal %
'''

In [ ]:
name = '이순신'
age  = 46
'''
'이름 : 이순신, 나이 : 46 세' 를
변수 name, age 를 사용해서
연결연산자와 반점을 사용해서 출력하세요
'''
print('이름 : ' + name + ', 나이 : ' + str(age)+ ' 세')
print('이름 : ',name,', 나이 : ',age,' 세',sep='')
print('이름 : %s, 나이 : %d 세' % (name, age))
print('이름 : {}, 나이 : {} 세'.format(name, age))
print(f'이름 : {name}, 나이 : {age} 세')

In [ ]:
# 1) %-formatting
print('이름 : %s' % name)
print('이름 : %s' % (name))
print('나이 : %d' % age)
print('나이 : %d' % (age))
print('이름 : %s, 나이 : %d 세' % (name, age))

In [ ]:
# 2) str.format() 메소드
print('이름 : {}, 나이 : {} 세'.format(name, age))
print('이름 : {0}, 나이 : {1} 세'.format(name, age))
print('나이 : {} 세, 이름 : {}'.format(age, name))
print('나이 : {1} 세, 이름 : {0}'.format(name, age))

In [ ]:
# 3) f-string
print(f'이름 : {name}, 나이 : {age} 세')
print(f'나이 : {age} 세, 이름 : {name}')

In [ ]:
# 1) %-formatting
food = '감자'
number = 5
str1 = '나는 %s를 %d 개 먹었습니다' % (food, number)
print(str1)
print('나는 %d 개의 %s를 먹었습니다' % (number, food))

In [ ]:
total = 100
male = 40
female = 60
'''
우리반 학생들은 모두 100 명이고
남학생은 40 명입니다
여학생의 비율은 60% 입니다
'''
print('우리반 학생들은 모두 %d 명이고 \n남학생은 %d 명입니다 \n여학생의 비율은 %d%% 입니다' % (total, male, female))

'''
우리반 학생들은 모두 100 명이고
남학생은 40 명입니다
여학생의 비율은 60.0% 입니다
'''
print('우리반 학생들은 모두 %d 명이고 \n남학생은 %d 명입니다 \n여학생의 비율은 %.1f%% 입니다' % (total, male, female))


print('''우리반 학생들은 모두 %d 명이고 
남학생은 %d 명입니다
여학생의 비율은 %.1f%% 입니다''' % (total, male, female))

In [1]:
print('%s' % 'py')

# 출력 전체 자릿수와 정렬방향 지정하기
print('%10s' % 'py')
print('%+10s' % 'py')
print('%-10s' % 'py')
print('%-10s거북선' % 'py')
print('%10s거북선' % 'py')

py
        py
        py
py
py        거북선
        py거북선

In [2]:
'''
%f 사용할 때 소숫점 이하 자릿수를 지정하지 않으면
기본적으로 6 자리까지 출력됨 (반올림 적용됨)
'''
pi = 3.1415926535
print('%f' % pi)
print('%.2f' % pi)
print('%.4f' % pi)
print('%10.4f' % pi)
print('%-10.4f' % pi)

3.141593
3.14
3.1416
    3.1416
3.1416

In [ ]:
'''
2) str.format() 메소드
'''
fruit = '메론'
count = 3
days  = 2
'''
나는 메론을 3 개 먹었습니다
'''
# 1) %-formatting
print('나는 %s을 %d 개 먹었습니다' % (fruit, count))
# 2) str.format() 메소드
print('나는 {}을 {} 개 먹었습니다'.format(fruit, count))
print('나는 {0}을 {1} 개 먹었습니다'.format(fruit, count))

'''
나는 3 개의 메론을 먹었습니다
'''
print('나는 {} 개의 {}을 먹었습니다'.format(count, fruit))
print('나는 {1} 개의 {0}을 먹었습니다'.format(fruit, count))

'''
format() 메소드의 arugment 자리에서 
변수를 지정해서 할당연산을 할 수 있음
  ㄴ 이 경우에는 {} 를 비우거나 index 를 지정할 수 없고
     반드시 변수를 넣어주어야 함
'''
print('나는 {fruit}을 {count} 개 먹었습니다'.format(fruit='메론',count=3))
print('나는 {food}를 {number} 개 먹었습니다'.format(food='고구마', number=5))
# print('나는 {}를 {} 개 먹었습니다'.format(food='고구마', number=5))
# print('나는 {0}를 {1} 개 먹었습니다'.format(food='고구마', number=5))

In [ ]:
print('%-10s' % 'py')
print('{:<10}'.format('py'))

print('%10s' % 'py')
print('{:>10}'.format('py'))
print('{:^10}'.format('py'))

print('{0:<10}'.format('py'))
print('{0:>10}'.format('py'))
print('{0:^10}'.format('py'))

print('{0:>10}, {1:<10}'.format('py', 'thon'))
print('{:>10}, {:<10}'.format('py', 'thon'))
print('{1:>10}, {0:<10}'.format('py', 'thon'))

In [ ]:
print('{0:*<10}'.format('py'))
print('{0:*>10}'.format('py'))
print('{0:*^10}'.format('py'))

In [ ]:
print('{0:$<10}'.format('py'))
print('{0:$>10}'.format('py'))
print('{0:$^10}'.format('py'))

In [ ]:
print('{0:=<10}'.format('py'))
print('{0:=>10}'.format('py'))
print('{0:=^10}'.format('py'))

In [ ]:
pi = 3.1415926535
print('%f' % pi)
print('{:f}'.format(pi))
print('%.4f' % pi)
print('{:.4f}'.format(pi))
print('%10.4f' % pi)
print('{:10.4f}'.format(pi))
print('%10.10f' % pi)
print('{:10.10f}'.format(pi))

In [ ]:
'''
25689959  -->  25,689,959

format() 함수 사용하기
 ㄴ argument 로 사용된 숫자는 문자열(str type)로 변환됨
'''
print(format(25689959, ','))

print('%15s' % format(25689959, ','))

# TypeError: %d format: a number is required, not str
# %d 는 숫자만 받음
# print('%15d' % format(25689959, ','))

print('%d' % 123456)

# %s 는 문자열, 숫자 모두 받음
# 123456 이 자동으로 문자열로 변환됨
print('%s' % 123456)
print('%s' % '123456')

In [ ]:
'''
3) f-string
'''
menu = 'coffee'
count = 5

'''
나는 하루에 커피를 5 잔 마십니다
'''
print('나는 하루에 %s를 %d 잔 마십니다' % (menu, count))
print('나는 하루에 {}를 {} 잔 마십니다'.format(menu, count))
print(f'나는 하루에 {menu}를 {count} 잔 마십니다')


print('%s %s' % ('one', 'two'))
print('{} {}'.format('one', 'two'))
print(f'{"one"} {"two"}')