In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')

In [ ]:
print(type(titanic_df))
print(titanic_df.shape)
print(titanic_df.shape[0])

In [ ]:
titanic_df.columns

In [ ]:
'''
titanic_df 의 컬럼 중 Age 컬럼을 사용해서
titanic_df 에 Age_by_20 이라는 컬럼 추가하기

DataFrame 에 컬럼을 추가하는 것은
Dictionary 에 item 추가하는 것과 비슷함
데이터프레임이름[추가할컬럼이름] = 값
'''
# Age 컬럼에 20 을 곱해서 Age_by_20 컬럼 생성하기
titanic_df['Age_by_20'] = titanic_df['Age'] * 20
# 맨 뒤에 Age_by_20 이라는 컬럼이 추가되고
# 값들은 Age 컬럼의 값들에 20 을 곱한 값들이 저장됨
titanic_df.head(10)

In [ ]:
'''
Age_0 이라는 이름의 컬럼 추가하기
Age_0 컬럼의 모든 값들은 0 으로 함
'''
titanic_df['Age_0'] = 0
titanic_df.head(10)

In [ ]:
'''
파생변수 만들기 - 여기서 변수는 컬럼을 의미함
  변수, 컬럼, feature 모두 (90%)같은 의미임
  파생변수란, 기존의 변수(컬럼)들을 이용해서 만들어진 
  새로운 컬럼(변수)을 의미함
'''
# SibSp 컬럼과 Parch 컬럼의 인원수를 합해서
# Family_No 이라는 컬럼 생성하기 
# SibSp 컬럼과 Parch 컬럼의 인원수에는 
# 자기자신은 포함되지 않았으므로 1을 더해 줌
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
titanic_df.head(10)

In [ ]:
'''
Age_by_20 컬럼의 값들을 100 증가시키고 
titanic_df 를 상위 10 개의 row 를 출력하세요

DataFrame 에 컬럼을 추가하는 것은
Dictionary 에 item 추가하는 것과 비슷함
데이터프레임이름[추가할컬럼이름] = 값
 ㄴ 이때, 추가할컬럼이름이 이미 있는 컬럼이면
    컬럼이 새로 추가되지 않고 값들만 갱신됨
'''
titanic_df['Age_by_20'] = titanic_df['Age_by_20'] + 100
titanic_df.head(10)

In [ ]:
'''
DataFrame 에서 data 삭제하기
- axis 를 설정해서 row 방향으로 삭제할지 column 방향으로 삭제할지 정해 줌
- axis=0 이면 row 를 삭제함
- axis=1 이면 column 을 삭제함
'''
# Age_0 컬럼 삭제하기
# inplace=False 가 default 값
#   ㄴ 원본에서는 Age_0 컬럼이 삭제되지 않고
#      Age_0 컬럼이 삭제된 새로운 DataFrame 을 생성하고 반환함
# inplace=True 로 하면 원본 DataFrame 에서 Age_0 컬럼이 삭제됨
titanic_df_drop_column = titanic_df.drop('Age_0', axis=1, inplace=False)
titanic_df_drop_column.head()

In [ ]:
# inplace=False 로 설정했으므로
# 원본에서는 Age_0 컬럼이 남아있음
titanic_df.head()

In [ ]:
'''
axis=0 으로 삭제하기 - row 를 삭제함
'''
print('axis=0 으로 삭제하기 전 : 0 ~ 4 row 가 남아있음')
display(titanic_df.head())
# drop([0, 1, 2]) <-- index 번호 0, 1, 2 번째 row 를 삭제한다는 의미
titanic_df_012_drop = titanic_df.drop([0, 1, 2], axis=0, inplace=False)
print('axis=0 으로 삭제한 후 : 0 ~ 4 row 가 삭제됨')
display(titanic_df_012_drop.head())
print('원본에는 그대로 남아있음')
display(titanic_df.head())