In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
'''
DataFrame 의 index
'''
titanic_df = pd.read_csv('titanic_train.csv')
titanic_df.shape
titanic_df.shape[0]

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.columns

In [ ]:
titanic_df.columns.values

In [ ]:
titanic_df.index

In [ ]:
titanic_df.index.values

In [ ]:
'''
titanic_df.index.values 의 type 은 ndarray 임
'''
type(titanic_df.index.values)

In [ ]:
indexes = titanic_df.index
print('type(indexes) :',type(indexes))
print('type(indexes.values) :',type(indexes.values))
print('indexes.values.shape :',indexes.values.shape)
print('indexes[:5] :',indexes[:5])
print('indexes[:5].values :',indexes[:5].values)
print('indexes.values[:5] :',indexes.values[:5])
print('indexes[6] :',indexes[6])
print('indexes.values :')
print(indexes.values)

In [ ]:
'''
DataFrame 에서 컬럼 하나만 추출하면 
Series type 으로 되어 일차원 구조가 됨
'''
fare_sr = titanic_df['Fare']
print(type(fare_sr))
fare_sr

In [ ]:
'''
DataFrame 에서 컬럼 하나만 추출할 때 [] 를 이중으로 사용하면
DataFrame type 으로 되어 이차원 구조를 유지함
'''
fare_df = titanic_df[['Fare']]
print(type(fare_df))
display(fare_df)

In [ ]:
'''
운임 중에서 최대요금, 최소요금, 운임의 합계 구해보기
'''
print('최대요금 :',fare_sr.max())
print('최소요금 :',fare_sr.min())
print('운임합계 :',fare_sr.sum())

In [ ]:
print('원본 :')
print(fare_sr)
print('-' * 60)

# 원본인 fare_sr 는 변형하지 않고
# 원본 컬럼값에 10을 더한 새로운 Series 를 생성함
fare_sr_add10 = fare_sr + 10
print('fare_sr_add10')
print(fare_sr_add10)
print('-' * 60)

print('원본 :')
print(fare_sr)

In [ ]:
'''
DataFrame 의 reset_index() 메소드 : 
  왼쪽 옆에 있던 index 를 컬럼으로 올림
  이 컬럼의 이름은 자동으로 index 로 됨
'''
titanic_df_reset_index = titanic_df.reset_index()
titanic_df_reset_index.head()

In [ ]:
'''
원본은 변형되지 않음
'''
titanic_df.head()

In [ ]:
'''
value_counts() 메소드 : 해당 컬럼의 unique 값들의 중복 개수를 반환함

3    491  - 3 등 객실 승객 491 명
1    216  - 1 등 객실 승객 216 명
2    184  - 2 등 객실 승객 184 명

'''
titanic_df['Pclass'].value_counts()

In [ ]:
'''
nunique() 메소드 : 해당 컬럼에서 unique 값이 몇 개 있는지 반환함
'''
titanic_df['Pclass'].nunique()

In [ ]:
'''
value_counts() 반환값의 type - Series
'''
print(titanic_df['Pclass'].value_counts())
print(type(titanic_df['Pclass'].value_counts()))
print(titanic_df['Pclass'].value_counts().shape)
print(titanic_df['Pclass'].value_counts().index)

In [ ]:
'''
value_counts() 의 결과는 값 내림차순으로 나오기에
3    491
1    216
2    184
이러한 형태가 됨
현재 index 는 3 2 1 인데 이것을 0 1 2 로 바꾸기
'''
value_counts = titanic_df['Pclass'].value_counts()

# Series 에서 reset_index() 로 하면
# column 이 두 개로 되어서 자동으로 DataFrame type 으로 됨
value_counts_df = value_counts.reset_index()

# index 라는 이름의 column 을 삭제함
value_counts = value_counts_df.drop('index', axis=1)

# Pclass 컬럼을 추출함 --> Series 로 됨
value_counts = value_counts['Pclass']

# value_counts 의 index 를 3 1 2 에서  0 1 2 로 변경함
value_counts

In [ ]:
'''
value_counts() 의 index 를 3 1 2 에서 0 1 2 로 바꾸기 - 2

reset_index() 메소드를 실행하면서 
drop 파라미터를 True 로 설정하면
index 라는 컬럼이 생성되지 않고
기존의 index 만 삭제됨
기존의 index 는 삭제되고 
0 1 2 3 으로 시작되는 새로운 index 가 생김
'''
value_counts = titanic_df['Pclass'].value_counts()
print('reset_index(drop=True) 실행 전')
print(value_counts)
print('-' * 60)

value_counts = value_counts.reset_index(drop=True)
print('reset_index(drop=True) 실행 후')
print(value_counts)

In [ ]:
'''
DataFrame 의 컬럼명 변경하기
  ㄴ rename() 메소드
     columns 파라미터에 dictionary 형태로
     기존컬럼명을 key 로 하고, 새로운컬럼명을 value 로 지정함
'''
value_counts = titanic_df['Pclass'].value_counts().reset_index()
display(value_counts)
value_counts = \
  value_counts.rename(columns={'index':'Pclass', 'Pclass':'Pclass_Count'})
display(value_counts)

In [ ]:
'''
DataFrame 의 [ ] 연산자 (index 연산자)
'''

# titanic_df 에서 상위 3 개의 row 만 조회하기
display(titanic_df.head(3))

# slicing 하기
display(titanic_df[:3])

In [ ]:
# KeyError: 4  - indexing 은 바로 안 됨
# display(titanic_df[4])
# 한 row (행) 만 추출하면 Series 가 됨
# iloc[] 연산자를 사용해서 indexing 해야 됨
display(titanic_df.iloc[4])

In [ ]:
'''
DataFrame 에서 boolean indexing 하기
'''
# Pclass 가 3 인 (3등 객실인) 승객들의 정보만 조회하세요
# 처음 4 명만....
titanic_df[titanic_df['Pclass'] == 3][:4]

In [ ]:
titanic_df[titanic_df['Pclass'] == 3].head(4)

In [ ]:
'''
iloc[] 연산자 : 위치기반 slicing OR indexing
'''
dict1 = {
    'name' : ['이순신','유관순','양만춘','장보고'],
    'year' : [2011, 2016, 2015, 2015],
    'gender' : ['male', 'female', 'male', 'male']
}

# pretty print 모듈 import
#  ㄴ dictionary 출력할 때 보기 편하게 출력함
import pprint
pprint.pprint(dict1)

In [ ]:
# index 에 이름 지정하기 : 'one', 'two', 'three', 'four'
dict1_df = pd.DataFrame(dict1, index=['one', 'two', 'three', 'four'])
display(dict1_df)

In [ ]:
'''
2014 년도 지나서 출생한 사람들만 출력하기
  ㄴ boolean indexing
'''
dict1_df[dict1_df['year'] > 2014]

In [ ]:
display(dict1_df)

In [ ]:
# 이순신 출력하기
dict1_df.iloc[0,0]

# iloc[] 의 [] 안에는 정수만 지정할 수 있음
# dict1_df.iloc[0, 'name']

In [ ]:
# 이순신의 gender 값 출력하기
dict1_df.iloc[0,2]
# iloc[] 의 [] 안에는 정수만 지정할 수 있음
# dict1_df.iloc['one', 'gender']

In [ ]:
# 유관순의 출생년도 출력하기
dict1_df.iloc[1,1]
# iloc[] 의 [] 안에는 정수만 지정할 수 있음
# dict1_df.iloc['twbo', 1]

In [ ]:
dict1_df.iloc[:]

In [ ]:
print('dict1_df.iloc[1, 0]')
display(dict1_df.iloc[1, 0])

In [ ]:
print('dict1_df.iloc[2, 1]')
display(dict1_df.iloc[2, 1])

In [ ]:
print('dict1_df.iloc[:2, [0,1]]')
display(dict1_df.iloc[:2, [0,1]])

In [ ]:
print('dict1_df.iloc[:2, [0,2]]')
display(dict1_df.iloc[:2, [0,2]])

In [ ]:
print('dict1_df.iloc[:, :]')
display(dict1_df.iloc[:, :])

In [ ]:
'''
맨 마지막 컬럼만 추출하기 : indexing
'''
print('dict1_df.iloc[:, -1]')
print(dict1_df.iloc[:, -1])

In [ ]:
'''
맨 마지막 컬럼만 제외하고 추출하기 : slicing
'''
print('dict1_df.iloc[:, :-1]')
print(dict1_df.iloc[:, :-1])

In [ ]:
'''
iloc[] 연산자로 2014 년 초과해서 
출생한 사람들의 정보만 출력하기  - boolean indexing
'''
dict1_df[dict1_df['year'] > 2014]

# TypeError: Cannot index by location index with a non-integer key
# iloc[] 연산자는 boolean indexing 을 지원하지 않음
# dict1_df[dict1_df.iloc['year'] > 2014]

In [ ]:
'''
loc[] 연산자 : 명칭기반 slicing OR indexing
'''
dict1_df

In [ ]:
'''
loc[] 연산자에는 컬럼이름이나 index 이름만 넣을 수 있음

dict1_df.loc[0, 'name']
dict1_df.loc['one', 0]
dict1_df.loc[0, 0]
'''
dict1_df.loc['one', 'name']

In [ ]:
dict1_df = pd.DataFrame(dict1)
display(dict1_df)

In [ ]:
'''
loc[] 연산자에는 컬럼이름이나 index 이름만 넣을 수 있음
  ㄴ index 이름이 숫자로 되어 있는 경우에는 가능함
'''
dict1_df.loc[0, 'name']

In [ ]:
dict1_df = pd.DataFrame(dict1)
display(dict1_df)
dict1_df_rename = dict1_df.rename(columns={'name':0, 'year':1, 'gender':2})
display(dict1_df_rename)

'''
loc[] 연산자에는 컬럼이름이나 index 이름만 넣을 수 있음
  ㄴ 컬럼이름이 숫자로 되어 있는 경우에는 가능함
'''
dict1_df_rename.loc[0,0]

In [136]:
dict1_df = pd.DataFrame(dict1, index=['one','two','three','four'])
display(dict1_df)

      name  year  gender
one    이순신  2011    male
two    유관순  2016  female
three  양만춘  2015    male
four   장보고  2015    male

In [ ]:
'''
명시적으로 지정된 index 이름과 column 이름 이외에
row index 와 column index 가 내부적으로 지정됨
아래의 code 는 iloc[] 연산자를 사용하여
내부적으로 지정된 row index 와 column index 를 적용해서
조회하는 code 임
'''
print(dict1_df.iloc[0, 0])
print(dict1_df.iloc[3, 0])
print(dict1_df.iloc[2, 2])

In [ ]:
display(dict1_df)
print('index 가 three 인 행의 name 출력')
print(dict1_df.loc['three', 'name'])
print('-' * 60)
print('index 값 one 부터 two 까지인 행의 name 과 year 출력')
print(dict1_df.loc['one':'two', ['name','year']])
print('-' * 60)
print('index 값 one 부터 three 까지인 행의 name 부터 gender 까지 출력')
print(dict1_df.loc['one':'three', 'name':'gender'])
print('-' * 60)
print('모든 행과 열 출력')
print(dict1_df.loc[:, :])
print('-' * 60)
# dict1_df.loc[:, :] 이나 dict1_df.loc[:] 은 결과가 같음
print(dict1_df.loc[:])
print('-' * 60)
print('출생년도가 2014 이후인 사람들의 모든 정보 출력')
# loc[] 에서는 boolean indexing 이 됨
print(dict1_df.loc[dict1_df['year'] >= 2014])
print('-' * 60)
print(dict1_df.loc[dict1_df.year >= 2014])