In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_df.shape

In [ ]:
'''
boolean indexing
'''
# 나이가 60을 초과한 사람들의 
# 나이와 이름을 출력하세요 (상위 6 명만)
# 데이터프레임[조건][[컬럼1, 컬럼2]]
titanic_df[titanic_df['Age'] > 60][['Age', 'Name']].head(6)
condition1 = titanic_df['Age'] > 60
titanic_df[condition1][['Age', 'Name']].head(6)
titanic_df[condition1][['Age', 'Name']].iloc[:6]
titanic_df[condition1][['Age', 'Name']].iloc[6]
titanic_df[condition1][['Age', 'Name']][:6]
# titanic_df[condition1][['Age', 'Name']][6]

In [ ]:
'''
boolean indexing 결과 DataFrame 의 index 번호를 0 1 2 ... 로 변경하기
'''
titanic_df[titanic_df['Age'] > 60][['Age', 'Name']].reset_index(drop=True).head(6)

In [ ]:
'''
데이터프레임[조건][[컬럼1, 컬럼2]]

나이가 60을 초과하고 1 등 개실 승객이고
성별은 여성인 승객의
Age, Pcalss, Sex 를 출력하세요
'''
condition1 = titanic_df['Age'] > 60
condition2 = titanic_df['Pclass'] == 1
condition3 = titanic_df['Sex'] == 'female'
titanic_df[condition1 & condition2 & condition3][['Age', 'Pclass', 'Sex']]

In [ ]:
titanic_df[condition1 & condition2 & condition3][['Name', 'Age', 'Pclass', 'Sex']].reset_index(drop=True)

In [ ]:
'''
sort_values() : Series 와 DataFrame 을 정렬하는 메소드

Name 컬럼을 기준으로 정렬하기  
  ㄴ sort_values(by=['Name'])
  ㄴ sort_values('Name')
  
정렬의 기본값은 오름차순임
  ㄴ ascending 파라미터의 기본값이 True 임
     ascending=False 로 설정하면 내림차순이 됨
'''
titanic_sort_by_name = titanic_df.sort_values(by=['Name'])
titanic_sort_by_name.head(6)

In [ ]:
titanic_sort_by_name = titanic_df.sort_values(['Name'])
titanic_sort_by_name.head(6)

In [ ]:
titanic_sort_by_name = titanic_df.sort_values('Name')
titanic_sort_by_name.head(6)

In [ ]:
'''
Pclass 컬럼과 Name 컬럼을 기준으로 내림차순 정렬하기
'''
titanic_df_sort_pclass_name = \
  titanic_df.sort_values(by=['Pclass', 'Name'], ascending=False)
titanic_df_sort_pclass_name.head(6)

In [ ]:
'''
집계함수(그룹함수) : aggregation function
'''
titanic_df.shape[0]

In [ ]:
titanic_df.count()

In [ ]:
titanic_df.info()

In [ ]:
'''
특정 컬럼을 대상으로 집계함수 실행하기
'''
# Age 와 Fare 각각의 평균값 조회하기
print(titanic_df[['Age', 'Fare']].mean())
print('-' * 70)

# Age 와 Fare 각각의 합계 조회하기
print(titanic_df[['Age', 'Fare']].sum())
print('-' * 70)

# Age 와 Fare 각각의 건수 조회하기
print(titanic_df[['Age', 'Fare']].count())

In [ ]:
'''
groupby() 메소드
  ㄴ groupby(by=그룹핑할컬럼이름)
'''
titanic_pclass = titanic_df.groupby(by='Pclass')
print(type(titanic_pclass))
print(titanic_pclass)
print(titanic_pclass[['Age', 'Fare']])
print(type(titanic_pclass[['Age', 'Fare']].count()))

In [ ]:
display(titanic_pclass[['Age', 'Fare']].count())
print('-' * 70)
print(titanic_pclass['Age'].count())
print('-' * 70)
print(titanic_pclass['Fare'].count())

In [ ]:
# titanic_df 이 모든 컬럼값을 Pclass 를 기준으로 그룹핑해서 조회함
titanic_groupby_pclass = titanic_df.groupby('Pclass').count()
titanic_groupby_pclass

In [ ]:
# Pclass 별  최고 나이 (max age)
print(titanic_df.groupby('Pclass')['Age'].max())

In [ ]:
# Pclass 별  최소 나이 (min age)
print(titanic_df.groupby('Pclass')['Age'].min())

In [ ]:
# Pclass 별  최고 나이 (max age) 와 최소 나이 (min age) 한꺼번에 조회하기
# 결과의 column이 두 개 이상이 되므로 DataFrame이 됨
display(titanic_df.groupby('Pclass')['Age'].aggregate([max, min]))

In [ ]:
# aggregate() 함수 이름을 agg 로 작성해도 됨
display(titanic_df.groupby('Pclass')['Age'].agg([max, min]))

In [ ]:
# Pclass 별로 최고나이, 형제(자매)나 배우자 인원수의 합계, 평균 운임 조회하기
display(titanic_df.groupby('Pclass').agg({'Age':'max', 'SibSp':'sum', 'Fare':'mean'}))

In [ ]:
# 위의 dictionary 를 변수에 연결(할당)한 후 변수를 사용해도 됨
# dictionary 의 key 는 컬럼명으로 하고
# value 는 집계함수이름으로 작성함
agg_format = {'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
display(titanic_df.groupby('Pclass').agg(agg_format))

In [ ]:
'''
dictionary 에서 key 값으로 컬럼이름을 지정할 수 있는데
중복되게 지정한 경우, 뒤에 지정한 집계함수만 적용됨
아래의 code 에서는 'Age':'max', 'Age':'mean' 순으로 지정되어
뒤에 지장한 mean() 집계함수만 적용됨
'''
agg_format = {'Age':'max', 'Age':'mean', 'Fare':'mean'}
display(titanic_df.groupby('Pclass').agg(agg_format))

In [ ]:
'''
출력되는 컬럼이름을 달리하여 
같은 컬럼에 두 개 이상의 집계함수를 적용할 수 있음
'''
display(titanic_df.groupby('Pclass').agg(age_max=('Age', 'max'),
                                         age_mean=('Age', 'mean'),
                                         fare_mean=('Fare', 'mean')))

In [ ]:
'''
아래와 같이 해도 위의 결과와 같게 출력됨
'''
titanic_df.groupby('Pclass').agg(
            age_max=pd.NamedAgg(column='Age', aggfunc='max'),
            age_mean=pd.NamedAgg(column='Age', aggfunc='mean'),
            fare_mean=pd.NamedAgg(column='Fare', aggfunc='mean')
       )

In [ ]:
'''
결측치 처리하기 - Null, NaN, Na (null, nan, na) 
                     ㄴ 모두 결측치를 의미하는 키워드들임
                     
DataFrame 의 isna() 메소드 : 결측치이면 True, 아니면 False 를 반환함
'''
# 결측치가 있는 칸은 True , 아닌 칸은 False 로 출력됨
titanic_df.isna().head(6)

In [ ]:
# 각 컬럼에서 결측치들의 개수를 컬럼별로 반환함
titanic_df.isna().sum()

In [ ]:
# 각 컬럼에서 결측치가 아닌 것들의 개수를 컬럼별로 반환함
titanic_df.count()

In [ ]:
# 각 컬럼에서 unique 한 값들의 개수를 반환함
titanic_df.nunique()