In [ ]:
'''
unpacking
() : tuple
[] : list
'''
tuple1 = (1, 2, 3,)
print(tuple1)
tuple2 = 1, 2, 3
print(tuple2)

# unpacking
num1, num2, num3 = 1, 2, 3
print(num1)
print(num2)
print(num3)

list1 = [1, 2, 3]
print(list1)

# unpacking
n1, n2, n3 = [1, 2, 3]
print(n1)
print(n2)
print(n3)

In [ ]:
numbers = 1, 2, 3, 4, 5
print(numbers)

n1, n2, *n3 = 1, 2, 3, 4, 5
print(n1)
print(n2)
print(n3)

*n1, n2, n3 = 1, 2, 3, 4, 5
print(n1)
print(n2)
print(n3)

n1, *n2, n3 = 1, 2, 3, 4, 5
print(n1)
print(n2)
print(n3)

### 사용자가 입력한 값을 변수에 할당하기

In [ ]:
'''
input() 함수

  형식]
  input('문자열') - 1) 문자열이 콘솔창에 그대로 출력됨
                    2) 사용자가 콘솔창에 값을 입력함
                    3) enter 하면 입력된 값이 변수에 할당됨
                    4) input() 함수를 실행해서 입력한 값은
                       모두 str type (문자열) 으로 저장됨
'''
number = input('정수 하나를 입력하세요 : ')
print('number : ',number)

In [ ]:
'''
input() 함수를 사용해서 연산하기

12 와 13을 입력했을 때
아래의 출력이 25 가 나오도록 
code 를 수정하세요
'''
num1 = int(input('첫 번째 숫자를 입력하세요 : '))
num2 = int(input('두 번째 숫자를 입력하세요 : '))
result = num1 + num2
print('result :',result)
result = num1 - num2
print('result :',result)
result = num1 * num2
print('result :',result)
result = num1 / num2
print('result :',result)

In [ ]:
print('010','1234','5678')
print('010','1234','5678',sep=' ')
print('010','1234','5678',sep='')
print('010','1234','5678',sep='-')
print('010','1234','5678',sep='@')
print('010','1234','5678',sep='#')

In [21]:
print(10,end='\n')
print(20,end='')
print(30,end=', ')
print(40,end='@#$\n')
print(50)

10
2030, 40@#$
50