In [ ]:
'''
tuple type

  () 를 사용함 - () 를 생략할 수 있음
  index 가 있음 (str, range(), list, tuple) - sequential type
  list (mutable type) VS tuple (immutable type)
                          ㄴ 한 번 메모리에 올리면 원본을 변형할 수 없음
                          ㄴ item 의 추가나 변경, 삽입, 삭제가 안 됨
                             ㄴ 이와 관련된 메소드들이 없음
                          ㄴ 참조만 가능함
  list 와 비슷하면서 item 의 추가, 삽입, 변경, 삭제가 안 됨
  
  비어 있는 tuple 을 생성할 수 있음 : () / tuple() 함수
  
  item 이 하나만 있는 tuple 을 표현하려면 item 뒤에 , 을 붙여줌
  
  서로 다른 type 의 data 를 item 으로 가질 수 있음
  
  tuple 안에 tuple 을 item 으로 넣을 수 있음
'''
tp1 = ()
tp2 = tuple()
print('tp1 :',tp1)
print('tp2 :',tp2)
print('tp1 :',type(tp1))
print('tp2 :',type(tp2))

In [ ]:
tp3 = 3
print('tp3 :', tp3)
# item 이 하나인 경우,
# 반점을 사용하지 않아서 
# tuple 이 아니라 int type 으로 인식됨
print('tp3 :', type(tp3))

# item 이 하나인 경우, 반점을 사용하면
# tuple 로 인식함
tp4 = 3,
print('tp4 :',tp4)
print('tp4 :',type(tp4))

In [ ]:
tp5 = (1, 2, 3, 4, 5)
print('tp5 :',tp5)
print('tp5 :',type(tp5))

# () 를 생략해도 tuple 로 인식함
tp6 = 1, 2, 3, 4, 5
print('tp6 :',tp6)
print('tp6 :',type(tp6))

In [ ]:
tp7 = ('a', 'b', 'c', 'd', 'e')
print('tp7 :',tp7)
print('tp7 :',type(tp7))

In [ ]:
tp8 = 1, 2, 3, 'python', 'program', True
print('tp8 :',tp8)
print('tp8 :',type(tp8))

In [ ]:
tp9 = 1, 2, 3, 'python', 'best', False, (4, 5, True)
print('tp9 :',tp9)
print('tp9 :',type(tp9))

In [ ]:
# indexing
print(tp9[1])
print(tp9[-1][-1])

# slicing
print(tp9[:3])
print(tp9[-1][1:])

In [ ]:
# tuple unpacking
n1, n2, n3, n4, n5 = 1, 2, 3, 4, 5
print(n1, n2, n3, n4, n5)

In [ ]:
tp10 = 1, 2, 3, 4, 5
tp11 = 6, 7, 8, 9, 10

# 연결
print(tp10 + tp11)

# 반복
print(tp10 * 3)
print(tp11 * 2)

In [ ]:
'''
range 객체 : range() 함수를 호출해서 생성함
             index 가 있음 - sequential type (str, range, list, tuple)
             
  range(end)               : 0 부터 end-1 까지
  range(start, end)        : start 부터 end-1 까지
  range(start, end, step)  : start 부터 end-1 까지 step-1 씩 건너뛰기
'''
# 1 부터 10 까지 저장된 list 생성하기
list1 = list(range(1, 11))
print('list1 :',list1)

In [ ]:
'''
range() 함수를 사용해서 11 부터 20까지의 list 를 생성하고 출력하세요
'''
print(list(range(11, 21)))

In [ ]:
'''
range() 함수를 사용해서 1 부터 10까지의 tuple 을 생성하고 짝수를 출력하세요
'''
print(tuple(range(2, 11, 2)))

In [25]:
'''
range() 함수를 사용해서 0 부터 50까지의 list 를 생성하고 출력하세요
'''
print(list(range(51)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]