In [ ]:
'''
 set type 
    index 가 없음 <-- sequential type 이 아님 : item 의 중복을 허용하지 않음
    item 이 중복되더라도 구분할 수 있는 수단이 있으면
    중복을 허용하나, index 가 없으면 item 자체로만 구분이 되므로
    set 에서는 item 의 중복을 허용하지 않음
    
    index 가 없어서 item 을 저장하면 순서가 보장되지 않음
    (sequential type 이 아님)
    
    {} 를 사용함 - 비어있는 set 을 생성할 때는 {} 는 사용하지 못함
                   set() 함수만 사용할 수 있음
                   item 이 있는 set 을 생성할 때는 {} 도 사용할 수 있음
                   {} 을 사용해서 생성하면 set 이 생성되지 않고
                                           dictionary 가 생성됨
'''

# 비어 있는 set 생성하기
set1 = set()
print('set1 :',set1)
print('set1 :',type(set1))

# {} 을 사용하는 경우, 비어있는 dictionary 가 생성됨
set2 = {}
print('set2 :',set2)
print('set2 :',type(set2))

# 리스트로 set 생성하기
set3 = set([1, 2, 2, 3, 3, 3, 4, 5, 6, 7, 7, 8])
# item 이 중복되어 저장되지 않음
print('set3 :',set3)
print('set3 :',type(set3))

# 튜플로 set 생성하기
set4 = set((1, 2, 3, 3, 3, 4, 5,))
print('set4 :',set4)
print('set4 :',type(set4))

# 문자열로 set 생성하기
set5 = set('python program')
# index 가 없으므로 
# item 이 저장된 순서가 보장되지 않음
# set3, set4 의 경우에도 순서가 보장되지 않으나
# item 이 숫자인 경우에는 python 이 
# 정렬된 형태로 출력만 해주는 것이지
# 메모리에서 실제로 순서를 기억하지는 않음
print('set5 :',set5)
print('set5 :',type(set5))

In [ ]:
'''
교집합, 합집합, 차집합, 대칭차집합(차집합의 합집합)
'''
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print('set1 :',set1)
print('set2 :',set2)

# 교집합 : & 연산자 / intersection() 메소드
print('set1 & set2 :', set1 & set2)
print('set1.intersection(set2) :',set1.intersection(set2))

# 합집합 : | 연산자 / union() 메소드
print('set1 | set2 :',set1 | set2)
print('set1.union(set2) :',set1.union(set2))

# 차집합 : - 연산자 / difference() 메소드
print('set1 - set2 :',set1 - set2)
print('set1.difference(set2) :',set1.difference(set2))
print('set2 - set1 :',set2 - set1)
print('set2.difference(set1) :',set2.difference(set1))

# 대칭차집합 : ^ 연산자 / symmetric_difference() 메소드
print('set1 ^ set2 :',set1 ^ set2)
print('set1.symmetric_difference(set2) :',set1.symmetric_difference(set2))

# 부분집합 : issubset() 메소드
set3 = {2, 4, 6}
set4 = {1, 2, 3, 4, 5, 6, 7, 8}

# set3 이 set4 의 부분집합인지 확인하기 : True
print('set3.issubset(set4) :',set3.issubset(set4))

# set4 가 set3 의 부분집합인지 확인하기 : False
print('set4.issubset(set3) :',set4.issubset(set3))

# 확대집합 : issuperset() 메소드

# set4 가 set3 의 확대집합인지 확인하기 : True
print('set4.issuperset(set3) :',set4.issuperset(set3))

# set3 이 set4 의 확대집합인지 확인하기 : False
print('set3.issuperset(set4) :',set3.issuperset(set4))

In [ ]:
'''
set  에 item 추가하기 : add() 메소드 - item 하나 추가
 ㄴ mutable type
'''
set1 = {1, 2, 3, 4, 5}
print('set1 :',set1)
set1.add(6)
print('set1 :',set1)
set1.add(7)
print('set1 :',set1)
set1.add(8)
print('set1 :',set1)

In [ ]:
'''
set  에 item 추가하기 : update() 메소드 - item 여러 개 추가
 ㄴ mutable type
'''
print('set1 :',set1)
set1.update({9, 10, 11})
print('set1 :',set1)
set1.update([12, 13, 14])
print('set1 :',set1)
set1.update((15, 16, 17))
print('set1 :',set1)

In [ ]:
'''
set 에 저장된 item 삭제하기
  ㄴ remove(), discard(), pop(), clear()
'''
print('set1 :',set1)

# remove() 메소드 : () 안에 넣은 item 을 삭제함, index 번호로 지정할 수 없음
set1.remove(13)
print('set1 :',set1)

In [ ]:
# discard() 메소드 : () 안에 넣은 item 을 삭제함, index 번호로 지정할 수 없음
# discard() 와 remove() 차이점
# 없는 item 을 삭제하려 할 때
# remove() 는 오류 발생함 / discard() 는 오류는 발생하지 않고 삭제가 안 이루어짐
set1.discard(10)
print('set1 :',set1)

In [ ]:
# set1 에서 10 이 삭제된 후
# discard(10) 을 실행하면 
# 오류는 발생하지 않고 삭제가 안 이루어짐
set1.discard(10)
print('set1 :',set1)

In [ ]:
# set1 에서 10 이 삭제된 후
# remove(10) 을 실행하면 
# 오류가 발생함
# KeyError: 10
# set1.remove(10)

In [ ]:
# pop() : 임의의 item 을 삭제하고 반환함 - 
#         item 이 없는 set 에서 pop() 을 호출하면 KeyError 발생함
#         실행해 보면 제일먼저 저장된 item 을 삭제하고 반환하는 것 같으나
#         실질적으로 삭제 순서가 보장되지는 않음
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17}
print('set1 :',set1)
item1 = set1.pop()
print('item1 ',item1)
print('set1 :',set1)
item1 = set1.pop()
print('item1 ',item1)
print('set1 :',set1)
item1 = set1.pop()
print('item1 ',item1)
print('set1 :',set1)

In [ ]:
'''
clear() 메소드 - set 에 저장된 모든 item 을 한꺼번에 삭제함
'''
print('set1 :',set1)
set1.clear()
# 비어 있는 set 이 됨
print('set1 :',set1)

In [ ]:
'''
range() 함수를 사용해서 set 생성하기
'''
set2 = set(range(1, 11))
print('set2 :',set2)

In [ ]:
'''
list 속에 list 나 tuple 포함하기
'''
numbers = [1, 2, 3, [4, 5], [6, 7], (8, 9)]
print('numbers :',numbers)

In [ ]:
'''
list 속에 set 포함하기
'''
numbers = [1, 2, 4, {4, 5, 6}]
print('numbers :',numbers)

In [ ]:
'''
tuple 속에 set 포함하기
'''
numbers = (1, 2, 3, {4, 5, 6})
print('numbers :',numbers)

In [ ]:
'''
set 속에 list 포함하기 : list 는 mutable type 이라서 안 됨
 ㄴ set 속에는 immutable type 만 포함(저장)할 수 없음
'''
# numbers = {1, 2, 3, [4, 5, 6]}

In [ ]:
'''
set 속에 set 포함하기 : set 은 mutable type 이라서 안 됨
 ㄴ set 속에는 immutable type 만 포함(저장)할 수 없음
'''
# numbers = {1, 2, 3, {4, 5, 6}}

In [ ]:
'''
frozenset : set 구조이면서 immutable 한 type
                            ㄴ item 의 추가, 변경, 삽입, 삭제가 안 됨
'''
# 비어 있는 frozenset 생성하기
fs1 = frozenset()
print('fs1 :',fs1)
print('fs1 :',type(fs1))

# 리스트로 frozenset 생성하기
fs2 = frozenset([1, 2, 3, 4, 5])
print('fs2 :',fs2)
print('fs2 :',type(fs2))

# 튜플로 frozenset 생성하기
fs3 = frozenset((6, 7, 8, 9))
print('fs3 :',fs3)
print('fs3 :',type(fs3))

# 셋으로 frozenset 생성하기
fs4 = frozenset({10, 11, 12})
print('fs4 :',fs4)
print('fs4 :',type(fs4))