In [ ]:
'''
dictionary type  
      {} 를 사용함
      비어 있는 dictionary 생성하기 : {} / dict() 함수
      key 와 value 가 한 쌍으로 저장됨
      index 가 없음 - 저장되는 순서가 보장되지 않음
      value 를 구분하는 수단이 key 가 됨
      key 를 사용해서 value 를 저장하고
      key 를 사용해서 value 를 찾음
      
      key 의 중복 허용 (X) - value 의 중복 허용 (O)
       ㄴ value(값)를 구별하는 수단
          immutable type 만 key 로 사용할 수 있음
          value 는 immutable, mutable 모두 사용할 수 있음      
'''

# 비어 있는 dictionary 생성하기
dict1 = {}
dict2 = dict()
print('dict1 :',dict1)
print('dict2 :',dict2)

print('dict1 :',type(dict1))
print('dict2 :',type(dict2))

'''
비어 있는 dictionary 에 item 추가하기

dict2 에 key는 'name', value 는 '글로벌' 인 item 저장하기

형식]
  dictionary 이름['key'] = value
'''
dict2['name'] = '글로벌'
print('dict2 :',dict2)

'''
dict2 에 key 는 age, value 는 23 인 item 을 추가하세요
'''
dict2['age'] = 23
print('dict2 :',dict2)

In [ ]:
'''
dictionary 를 생성하면서 item 저장하기
'''
student = {'name':'이순신', 'age':46, 'addrr':'서울'}
print('student :',student)

'''
원래 없는 key 에 value 를 할당해서 item 추가하기
원래 없는 key 에 value 를 할당하면 새로운 item 이 추가됨
'''
# key 는 height, value 가 193 인 item 을 추가하세요
student['height']=198
print('student :',student)

In [ ]:
'''
이미 있는 key 에 value 를 할당해서 item 추가하기
이미 있는 key 에 value 를 할당하면 key 는 그대로 있고 value 만 갱신됨
'''
# key 는 height, value 가 187 인 item 을 추가하세요
student['height']=187
print('student :',student)

In [ ]:
'''
student 에서 value 출력하기
  dictionary이름['key'] / get('key')
'''
print(student['name'])
print(student['age'])
print(student['addrr'])
print(student['height'])

print(student.get('name'))
print(student.get('age'))
print(student.get('addrr'))
print(student.get('height'))

# dictionary이름.key 의 형태는 허용하지 않음
# print(student.name)

'''
get() 메소드의 경우,
get('key') 로 value 를 가져오는데,
지정한 key 가 없는 경우, defaul value 를 지정할 수 있음
현재 student 에는 key 가 name, age, addrr, height 만 있음
weight 는 없음. 이때, get('weight', 87) 을 실행하면 87 을 반환함
이 경우, 87 이 default value 임
'''
# None
print('student 에는 weight 이라는 key 가 없어서 value 를 가져오려고 하면 None 을 반환함')
print("student.get('weight') :",student.get('weight'))
print('이런 경우, default value 를 지정하면 default value 를 반환함')
print('리스트에 저장된 item 의 빈도수를 구하는 경우에 활용됨')
print("student.get('weight', 87) :",student.get('weight',87))

In [ ]:
'''
OHLC : Open, High, Low, Close - 시가, 고가, 저가, 종가
'''
# 리스트로 저장하는 경우
# 아래의 list 들은 12월1일, 2일, 3일의 OHLC 를 나타내고 있음
market_1201 = ['1201', 10100, 10600, 10000, 10200]
market_1202 = ['1202', 10200, 10500, 10100, 10100]
market_1203 = ['1203', 10000, 10400, 9000, 10100]

# dictionary 를 사용하면 하나로 묶을 수 있음
dict_ohlc = {
                '1201' : [10100, 10600, 10000, 10200],
                '1202' : [10200, 10500, 10100, 10100],
                '1203' : [10000, 10400, 9000, 10100],
            }

# pretty print 모듈 : dictionary 를 출력할 때 가지런하게 해 줌
import pprint
pprint.pprint(dict_ohlc)

In [ ]:
'''
dict_ohlc 에서 12월 2일자 고가를 출력하세요
'''
print('12월 2일자 고가 :',dict_ohlc['1202'][1],'원')

In [ ]:
'''
12월 4일자 ohlc 는 [10200, 10800, 10100, 10300] 입니다
이 정보를 dict_ohlc 에 추가하세요
'''
dict_ohlc['1204']=[10200, 10800, 10100, 10300]
pprint.pprint(dict_ohlc)

'''
dict_holc
{'1201': [10100, 10600, 10000, 10200],
 '1202': [10200, 10500, 10100, 10100],
 '1203': [10000, 10400, 9000, 10100],
 '1204': [10200, 10800, 10100, 10300]}
12월 3일의 저가를 8000원으로 변경하세요 
'''
print('12월 3일의 저가 :',dict_ohlc['1203'][2],'원')
dict_ohlc['1203'][2] = 8000
print('12월 3일의 저가 :',dict_ohlc['1203'][2],'원')

In [ ]:
fruits = {11:'apple', 22:'orange', 33:'melon'}
pprint.pprint(fruits)
'''
fruits 에서 상품코드 11의 과일의 이름을 
watermelon 으로 수정하세요
'''
fruits[11]='watermelon'
print(fruits)

In [ ]:
students = {
    'name' : ['이순신', '강감찬', '유관순'],
    'addrr' : ['동작구', '마포구', '강남구'],
    'age' : [46, 72, 19]
}
pprint.pprint(students)

In [ ]:
'''
students 에 학년 정보를 추가하세요
key 는 grade, value 는 [4, 3, 1]
'''
students['grade'] = [4, 3, 1]
pprint.pprint(students)

In [ ]:
'''
students 에서 key 만 추출하기 : keys() 메소드
'''
print(list(students.keys()))

In [ ]:
'''
students 에서 value 만 추출하기 : values() 메소드
'''
print(list(students.values()))

In [ ]:
'''
students 에서 key 와 value 를 tuple 로 추출하기 : itmes() 메소드
'''
print(list(students.items()))

In [ ]:
print('values() :\n',list(students.values()))

In [ ]:
# 이름만 출력하는 방법들
print(students['name'])
print(students.get('name'))
print(list(students.values())[0])

In [ ]:
# 주소만 출력하는 방법들
print(students['addrr'])
print(students.get('addrr'))
print(list(students.values())[1])

In [ ]:
# 나이만 출력하는 방법들
print(students['age'])
print(students.get('age'))
print(list(students.values())[2])

In [ ]:
# 학년만 출력하는 방법들
print(students['grade'])
print(students.get('grade'))
print(list(students.values())[3])

In [ ]:
'''
특정 key 가 students 에 있는지 알아보기
  ㄴ in 연산자
'''
print('name' in students)
print('addr' in students)
print('age' in students)
print('grade' in students)
print('height' in students)

In [ ]:
print(tuple(students.values())[2])