In [ ]:
!pip install pymongo

In [ ]:
import pymongo

1. pymongo 라이브러리 import
2. mongodb 접속
3. 사용할 database, collection 지정하기(생성하기)
4. 해당 database 의 collection 에서 CRUD 명령하기

In [ ]:
'''
python 에서 MongoDB 접속하기
 ㄴ pymongo 모듈에 정의된 MongoClient 클래스의 객체를 생성
 
형식]
1) conn = pymongo.MongoClient("ip주소(domain주소)", 포트번호)
2) conn = pymongo.MongoClient()
                   ㄴ 자동으로 localhost:27017 로 접속함
'''
conn = pymongo.MongoClient("localhost", 27017)
# conn = pymongo.MongoClient("127.0.0.1", 27017)

In [ ]:
'''
test 데이터베이스 사용하기
  ㄴ 생성되어 있지 않으면 새로 생성됨
'''
# db = 커넥션객체.사용할db이름
# test 라는 이름의 Database 를 사용하기 (없으면 만들어짐)
# Database 객체가 생성됨
# test : 데이터베이스 이름, db_test : 변수
db_test = conn.test
# db = conn["test"] <-- 이렇게 해도 됨
# 생성된 데이터베이스 객체의 정보 확인하기
print(db_test)
# 데이터베이스 이름 확인하기
print(db_test.name)

In [ ]:
'''
test collection 사용하기
  ㄴ 생성되어 있지 않으면 새로 생성됨
형식]
  데이터베이스(변수).컬렉션이름
'''
# test_collection 이라는 collection 생성하기
# 변수                        컬렉션이름
test_collection = db_test.test_collection
# test_collection = db_test["test_collection"]

# 생성된 Collection 객체의 정보 확인하기
print(test_collection)

In [ ]:
'''
Document insert 하기
 ㄴ insert_one() / insert_many()
    insertOne()    insertMany()
'''
# dictionary 형태로 document 작성하기
post = {
            "author":"global", 
            "text":"global text", 
            "tags":["python","pymongo",'mongodb']
       }

# _id(primary key) 확인하기 - inserted_id 속성
post_id = test_collection.insert_one(post).inserted_id
post_id

In [ ]:
test_collection.insert_many(
    [
        {"author":"Tom Cruise", "age":55},
        {"author":"Tom", "age":32}
    ]
)

In [ ]:
# test_collection 에 있는 모든 document 의 개수
# count_documents({}) - ({}) : 조건을 작성하지 않으면 모두 조회함
all_docs = test_collection.count_documents({})
print('all_docs :',all_docs,'개')

# author 가 Tom 인 document
tom_doc = test_collection.count_documents({"author":"Tom"})
print('tom_doc  :',tom_doc,'개')

In [ ]:
'''
list 와 dictionary  를 사용해서 insert 하기
'''
test_collection.insert_one(
    {'title':'october sky', 'castings':['jake','chris','laura']}
)
test_collection.insert_many(
    [
        {'title':'avatar','castings':['zoe','sam','sigourney']},
        {'title':'한산', 'castings':['박해일','안성기','손현주']}
    ]
)

In [ ]:
test_collection.insert_one(
    {
        'title':'실미도',
        'castings':['설경구', '안성기'],
        'datetime':
            {
                'year':'2003',
                'month':3,
                'val':
                    {
                        'a':
                            {
                                'b':1
                            }
                    }
            }
    }
)

In [ ]:
data = []
data.append({'name':'arron', 'age':23})
data.append({'name':'bob', 'age':32})
data.append({'name':'cathy', 'age':25})
data.append({'name':'peter', 'age':27})
data.append({'name':'erick', 'age':28})
data.append({'name':'davison', 'age':36})
data.append({'name':'lee'})

test_collection.insert_many(data)

In [ ]:
# document 전체 개수 확인
test_collection.count_documents({})

In [ ]:
'''
document 조회하기 :  find_one() / find()
                       ㄴ 최초로 검색되는 document 하나만 조회함
'''
test_collection.find_one()

In [ ]:
'''
author 가 Tom Cruise 인 document 조회하기
'''
test_collection.find_one({"author":"Tom Cruise"})

In [ ]:
'''
find() 는 검색되는 모든 document 들을 조회함  
'''
docs = test_collection.find()

In [ ]:
# docs 에 저장된 doc 들을 하나씩 출력함
for doc in docs:
    print(doc)

In [ ]:
'''
Document 수정하기 : update_one() / update_many()
                     ㄴ 가장 먼저 검색되는 document 하나만 수정함
'''
test_collection.find_one({"author":"Tom"})

In [ ]:
test_collection.update_one(
    {"author":"Tom"},
    {"$set" : {"age": 25}}
)

In [ ]:
test_collection.find_one({"author":"Tom"})

In [ ]:
test_collection.update_one(
    {"author":"Tom"},
    {"$set" : {"text": "안녕하세요 Tom 입니다"}}
)

In [ ]:
test_collection.find_one({"author":"Tom"})

In [ ]:
docs = test_collection.find({})

In [ ]:
for doc in docs:
    print(doc)

In [ ]:
test_collection.update_many(
    {"author":"global"},
    {"$set" : {"text" : "안녕하세요 글로벌학원입니다"}}
)

In [ ]:
for doc in test_collection.find({}):
    print(doc)

In [ ]:
for doc in test_collection.find({"author":"global"}):
    print(doc)

In [ ]:
'''
Document 삭제하기 : delete_one() / delete_many()
                     ㄴ 가장 먼저 검색되는 document 하나만 삭제함
'''
for doc in test_collection.find({"author":"global"}):
    print(doc)

In [ ]:
test_collection.delete_one({"author":"global"})

In [ ]:
# 3 개 중에 제일 먼저 insert 된 document 만 삭제됨
for doc in test_collection.find({"author":"global"}):
    print(doc)

In [ ]:
test_collection.delete_many({"author":"global"})

In [ ]:
# author 가 global 인 document 가 모두 삭제되어서 출력이 안 됨
for doc in test_collection.find({"author":"global"}):
    print(doc)

In [ ]:
# author 가 global 인 ducument 는 0 개
test_collection.count_documents({"author":"global"})

In [ ]:
data = []
for idx in range(100):
    data.append({"author":"global", "publidsher":"global.org", "number":idx})

In [ ]:
data

In [ ]:
# CRUD - insert
test_collection.insert_many(data)

In [ ]:
# CRUD - Read
# test_collection.find({}) 와 test_collection.find() 는 결과가 같음
for doc in test_collection.find({}):
    print(doc)

In [ ]:
# CRUD - Update
test_collection.update_many({},{"$set" : {"publisher":"globalithumanresources-org"}})

In [ ]:
for doc in test_collection.find({}):
    print(doc)

In [ ]:
'''
number 가 9 이상인 document 모두 삭제하기
'''
test_collection.delete_many({"number" : {"$gt":8}})

In [ ]:
for doc in test_collection.find({}):
    print(doc)

In [ ]:
# CRUD - delete
test_collection.delete_many({"author":"global"})

In [ ]:
for doc in test_collection.find({}):
    print(doc)