### Numpy
- 행렬(이차원 배열) 이나 다차원 배열을 쉽게 처리할 수 있도록 지원하는 라이브러리
- 수치 계산을 위한 여러가지 효율적인 기능들도 제공함

In [ ]:
import numpy as np

In [ ]:
'''
기본 파이썬에는 배열(array) 이 없음
파이썬에서 배열을 사용하려면
Numpy 의 ndarray 를 생성해서 사용함
'''

# numpy 의 ndarray(배열)

# list 에서 ndarray 생성하기
# 1 차원 list  -->  1 차원 ndarray
list1 = [1, 2, 3, 4, 5]
print('list1 :',list1)
print('list1 :',type(list1))

# numpy 의 array 함수의 argument 로 list 를 넣어줌
arr1 = np.array(list1)
print('arr1 :',arr1)
print('arr1 :',type(arr1))
# arr1 : (5,)  <-- item 5 개짜리 1 차원 ndarray
print('arr1 :',arr1.shape)
print('arr1.ndim :',arr1.ndim,'차원 배열')

In [ ]:
# 2 차원 list 에서 ndarray 생성하기
#  ㄴ 2 차원 ndarray 가 됨
list2 = [[1, 2, 3],
         [4, 5, 6]]
print('list2 :', list2)
print('list2 :', type(list2))

arr2 = np.array(list2)
print('arr2 :')
print(arr2)
print('arr2 :', type(arr2))
print('arr2 :', arr2.shape)
print('arr2 :', arr2.ndim,'차원')

### ndarray 의 요소(item, element) 들의 type : dtype

In [ ]:
print('arr2')
print(arr2)
print('arr2.dtype :',arr2.dtype)

In [ ]:
list2 = [1.0, 2.0, 3.0, 4.0, 5.0]
arr2  = np.array(list2)
print('arr2')
print(arr2)
print(arr2.shape)
print(arr2.dtype)

In [ ]:
'''
int type 과 float type 을 같이 저장하면
dtype 은 모두 float type 이 됨
'''
list3 = [1, 2.0, 3, 4.0, 5]
arr3 = np.array(list3)
print('arr3')
print(arr3)
print(arr3.shape)
print(arr3.dtype)

In [ ]:
'''
다른 type 들과 문자열 type(str type) 을 같이 저장하면
dtype 이 모두 문자열 type 이 됨
'''
list4 = [1, 2.0, 3, 4.0, 5, '6', False]
arr4 = np.array(list4)
print('arr4')
print(arr4)
print(arr4.shape)
print(arr4.dtype)

In [ ]:
'''
int type 과 bool type 을 같이 저장하면
dtype 이 모두 int type 이 됨
'''
list5 = [1, 2, 3, 4, 5, False]
arr5 = np.array(list5)
print('arr5')
print(arr5)
print(arr5.shape)
print(arr5.dtype)

In [ ]:
'''
float type 과 bool type 을 같이 저장하면
dtype 이 모두 float type 이 됨
'''
list6 = [1.0, 2.0, 3.0, 4.0, 5.0, False]
arr6 = np.array(list6)
print('arr6')
print(arr6)
print(arr6.shape)
print(arr6.dtype)

In [ ]:
'''
float type 과 int type 과 bool type 을 같이 저장하면
dtype 이 모두 float type 이 됨
'''
list7 = [1.0, 2.0, 3.0, 4.0, 5, False]
arr7 = np.array(list7)
print('arr7')
print(arr7)
print(arr7.shape)
print(arr7.dtype)

In [ ]:
'''
dtype 변환하기 : ndarray 의 astype() 메소드
'''
arr_int = np.array([1, 2, 3, 4, 5])
print(arr_int.dtype)
arr_float = arr_int.astype('float')

print(type(arr_float))
print(arr_float.dtype)

arr_int2 = arr_float.astype('int')
print(arr_int2.dtype)

### Numpy 의 arange(), zeros(), ones() 함수

In [ ]:
print(list(range(10)))

In [ ]:
'''
0 부터 9까지 저장된 ndarray 생성하기
'''
arr1 = np.arange(10)
print('arr1')
print(arr1)
print(arr1.shape)

arr1 = np.arange(11, 21)
print('arr1')
print(arr1)
print(arr1.shape)

arr1 = np.arange(1, 11, 2)
print('arr1')
print(arr1)
print(arr1.shape)

In [ ]:
# zeros() : 요소가 모두 0 인 ndarray 를 생성함
# ones()  : 요소가 모두 1 인 ndarray 를 생성함

#  dtype='float' 이 기본값
#  dtype='int' 로 설정하면 dtype 이 
# int 인 ndarray 가 생성됨
zeros1 = np.zeros((5,), dtype='float')
print('zeros1')
print(zeros1)
print(zeros1.dtype)
print(zeros1.shape)

zeros2 = np.zeros((5,), dtype='int')
print('zeros2')
print(zeros2)
print(zeros2.dtype)
print(zeros2.shape)

zeros3 = np.zeros((5,5), dtype='int')
print('zeros3')
print(zeros3)
print(zeros3.dtype)
print(zeros3.shape)

In [ ]:
'''
(3, 2) 의 shape 이면서 모든 원소가 0이고
dtype 은 int 인 ndarray 를 생성하세요
'''
zeros4 = np.zeros((3, 2), dtype='int')
print('zeros4')
print(zeros4)
print(zeros4.dtype)
print(zeros4.shape)

### ndarray 의 차원과 크기 변경하기 - reshape() 메소드

In [ ]:
arr1 = np.arange(10)
print('arr1')
print(arr1)
print(arr1.shape)

In [ ]:
'''
(2, 5) 로 변환하기
'''
arr2 = arr1.reshape(2, 5)
print('arr2')
print(arr2)
print(arr2.shape)

In [ ]:
'''
(5, 2) 로 변환하기
'''
arr3 = arr1.reshape(5, 2)
print('arr3')
print(arr3)
print(arr3.shape)

'''
(3, 3) 로 변환하기
'''
# ValueError: cannot reshape array of size 10 into shape (3,3)
# 원래 크기에 맞도록 행과 열을 지정해야 함
# arr4 = arr1.reshape(3, 3)

In [ ]:
'''
-1 은 상대값이 결정된 이후에
원본의 크기에 맞도록 자동으로 결정됨
'''
arr4 = arr1.reshape(-1, 5)
print('arr4')
print(arr4)
print(arr4.shape)

In [ ]:
arr5 = arr1.reshape(5, -1)
print('arr5')
print(arr5)
print(arr5.shape)

In [ ]:
# ValueError: cannot reshape array of size 10 into shape (3,newaxis)
# arr6 = arr1.reshape(3, -1)

In [ ]:
arr1 = np.arange(8)

arr3d = arr1.reshape(2, 2, 2)
print('arr3d')
print(arr3d)
print(arr3d.ndim,'차원')

In [ ]:
'''
3 차원 ndarray 를 2 차원 ndarray 로 변환하기
단, 컬럼의 개수는 1로 함
'''
arr2d = arr3d.reshape(-1, 1)
print('arr2d')
print(arr2d)
print(arr2d.shape)

In [ ]:
arr2d = arr3d.reshape(1, -1)
print('arr2d')
print(arr2d)
print(arr2d.shape)

In [ ]:
'''
1 차원 ndarray 를  2 차원 ndarray 로 변환하기
'''
print(arr1)
print(arr1.shape)
print('-' * 60)

arr2d = arr1.reshape(1, -1)
print(arr2d)
print(arr2d.shape)
print('-' * 60)

arr2d = arr1.reshape(-1, 1)
print(arr2d)
print(arr2d.shape)
print('-' * 60)